<div id="menu">
    <ul>
        <li><a href="index.html">ACCUEIL</a></li>
        <li><a href="personnages.html">PERSONNAGES</a>
            <ul>
                <li><a href="personnages.html#ichigo-kurosaki">Ichigo Kurosaki</a></li>
                <li><a href="personnages.html#rukia-kuchiki">Rukia Kuchiki</a></li>
                <li><a href="personnages.html#uryu-ishida">Uryu Ishida</a></li>
                <li><a href="personnages.html#orihime-inoue">Orihime Inoue</a></li>
                <li><a href="personnages.html#yasutora-sado">Yasutora Sado</a></li>
                <li><a href="personnages.html#renji-abarai">Renji Abarai</a></li>
            </ul>
        </li>
        <li><a href="organisation.html">ORGANISATION</a>
            <ul>
                <li><a href="organisation.html#le-monde-des-humains">Le monde des humains</a></li>
                <li><a href="organisation.html#soul-society">La Soul Society</a></li>
                <li><a href="organisation.html#hueco-mundo">Le Hueco Mundo</a></li>
            </ul>
        </li>
        <li><a href="races.html">RACES</a>
            <ul>
                <li><a href="races.html#les-humains">Les humains</a></li>
                <li><a href="races.html#les-humains-à-haut-potentiel">Les hauts potentiel</a></li>
                <li><a href="races.html#les-quincy">Les quincy</a></li>
                <li><a href="races.html#les-fullbringer">Les fullbringers</a></li>
                <li><a href="races.html#les-shinigami">Les shinigami</a></li>
                <li><a href="races.html#les-hollows">Les hollow</a></li>
                <li><a href="races.html#les-visored">Les visored</a></li>
                <li><a href="races.html#les-arrancars">Les arrancars</a></li>
            </ul>
        </li>
        <li><a href="arcs.html">ARCS</a>
            <ul>
                <li><a href="arcs.html#arc-du-shinigami-remplaçant-épisodes-1-à-20">Arc 1</a></li>
                <li><a href="arcs.html#arc-de-la-soul-society-épisodes-21-à-63">Arc 2</a></li>
                <li><a href="arcs.html#arc-des-bounts-épisodes-64-à-109">Arc 3</a></li>
                <li><a href="arcs.html#arc-des-arrancars-assaut-du-hueco-mundo-épisodes-110-à-151">Arc 4</a></li>
                <li><a href="arcs.html#arc-des-arrancars-la-lutte-acharnée-épisodes-152-à-167">Arc 5</a></li>
                <li><a href="arcs.html#arc-du-nouveau-capitaine-shūsuke-amagai-épisodes-168-à-189">Arc 6</a></li>
                <li><a href="arcs.html#arc-des-arrancars-la-bataille-de-karakura-épisodes-190-à-205-puis-213-à-229">Arc 7</a></li>
                <li><a href="arcs.html#arc-du-passé-épisodes-206-à-212">Arc 8</a></li>
                <li><a href="arcs.html#les-zanpakutō-lautre-histoire-épisodes-230-à-265">Arc 9</a></li>
                <li><a href="arcs.html#arc-des-arrancars-la-chute-daizen-épisodes-266-à-316">Arc 10</a></li>
                <li><a href="arcs.html#gotei-13-larmée-dinvasion-épisodes-317-à-342">Arc 11</a></li>
                <li><a href="arcs.html#arc-du-shinigami-remplaçant-perdu-épisodes-343-à-366">Arc 12</a></li>
                <li><a href="arcs.html#arc-de-la-guerre-sanglante-de-mille-ans-épisodes-367-et-suivants">Arc 13</a></li>
            </ul>
        </li>
        <li><a href="sources.html">SOURCES</a></li>
    </ul>
</div>