$sousTemplate()$
<body>
    <div id="titre">
        <h1>$title$</h1>
    </div>
    <div id="menu">
        <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="personnages.html">Personnages</a></li>
            <li><a href="organisation.html">Organisation</a></li>
            <li><a href="races.html">Races</a></li>
            <li><a href="arcs.html">Arcs</a></li>
            <li><a href="sources.html">Sources</a></li>
        </ul>
    </div>
    <div id="page">
        <div id="contenu">
            $body$
        </div>
        <div id="auteurs">
            <h2>LEGRIS--MALECKI Ethan</h2>
            <h2>DORNIAS Allistair</h2>
        </div>
    </div>
</body>
</html>